<!DOCTYPE html>
<html>
    {{>head}}
    <body>
        {{>navbar}}
        <div class="container mt-5 ms-4">
            <h3>{{name}}</h3>
            <h5>Bookings</h5>
            {{#each arr}}
                Request: {{this.request}}<br>
                Date: {{this.date}}<br>
                Time: {{this.time}}<br>
            {{/each}}
        </div>
    </body>
</html>