<!DOCTYPE html>
<html>
    {{>head}}
    <body>
        {{>navbar}}
        <div class="d-flex flex-column vh-100 align-items-center justify-content-center text-center">
            <form action="hire-response" method="POST">
                <input type="hidden" id="actorid" name="actorid" value="{{actor.id}}" />
                
                <button type="submit" class="btn btn-primary">Sign up</button>
            </form>
        </div>
    </body>
</html>