<!DOCTYPE html>
<html>
    {{>head}}
    <body>
        {{>navbar}}
        <div class="d-flex flex-column vh-100 align-items-center justify-content-center text-center">
            <form action="login-response" method="POST">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" name="username" class="form-control" id="username" placeholder="Enter username">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" class="form-control" id="password" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
            <a class="link-opacity-50-hover" href="/signup">Sign up</a>
        </div>
    </body>
</html>